/* Static */
:root {
  --color-white: #ffffff;

  /* Primary */
  --color-primary-red: #f91f15;

  /* Gray scale */
  --color-gray-300: #e3e3e3;
  --color-gray-500: #a6a6a6;
  --color-gray-700: #444444;

  /* Typography */
  --font-sans:
    "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, sans-serif;

  /* Title */
  --title03-weight: 700;
  --title03-size: 1.2rem;
  --title03-line: 1.3;
  --title03-track: -0.03em;

  --title08-weight: 500;
  --title08-size: 1rem;
  --title08-line: 1.3;
  --title08-track: -0.05em;

  /* Body */
  --body05-weight: 500;
  --body05-size: 1.5rem;
  --body05-line: 1.3;
  --body05-track: 0.02em;

  --body07-weight: 500;
  --body07-size: 1.2rem;
  --body07-line: 1.3;
  --body07-track: -0.01em;

  /* Caption */
  --caption06-weight: 500;
  --caption06-size: 1rem;
  --caption06-line: 1.3;
  --caption06-track: 0em;
}
